
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display:700');
 .first{
    
    background-size:cover;
background-position: center;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
width: 100%;


flex-wrap: wrap;


    
}
.blo{
    font-family: "TypoPRO Bebas Neue";
    font-size: 1.8em;
}
.l1
{
    flex : 50%;
    height : 60px;
    background-color:#ffffff;
    position:sticky;
    position: -webkit-sticky;
position: sticky;

            top: 0;
            margin-top: 0px;
            display: inline-flex;
           
        
           



}
.r1
{
    flex : 50%;
    height : 60px;
    background-color:#ffffff;
    display:flex;
    flex-direction: row;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    justify-content: center;
    
    


}
   .nav-button{
    flex-grow: 4;
    height :70px;
    text-align: center;
    
    max-width:80px;
 
     
    text-decoration: none;
     
     
     color:rgba(0, 0, 0, 0.87);
     font-size: 1.3rem;
     margin-top: 10px;
     font-family: 'TypoPRO Bebas Neue';
        
        
    }
   .container1{

       display:flex;
       flex-wrap: wrap;
       justify-content: center;
       position:static;
       
      
   }
   .poster{
       flex-grow:inherit;
       
       padding-bottom:10px;
       margin:20px;
       border : 2px solid rgba(0, 0, 0, 0.055)!important;
       border-radius: 10px;
       position: relative;
       
   }
   .name{
    border-top: 1px solid rgba(0,0,0,.05)!important;
    border-top-width: 1px !important;
    border-top-style: solid !important;
     border-top-color: rgba(0, 0, 0, 0.05) !important;
     color: rgba(0,0,0,.4);
     
     width: 100%;
     text-align: center;
     
     padding-top: 15px;
     font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
    
     font-size: 1em;
    
    
   }
 

   .date{
       display: inline;
       margin-right: 0px;
       text-align: right;
       font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
       font-size: 1em;
       
       
   }
   .poster:hover{
   bottom:10px;

   }
   #imgref{
margin-left:15%;
  }
  #hammburger{
        display:none;

        } 
        .blo{
            display:none;
        }
        .mlogo{
            text-align: center;
            width:100%;
        }
        .imgg{
            height:23vh;
            width:42vh;
        }
        .titl{
            font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
            font-size: 1.1em;
            
        }
        .copy{
            padding-left:80px;
        }
        /* Hide scrollbar for Chrome, Safari and Opera */
.scroll::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.scroll {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

        @media only screen and (max-width: 756px) {
            #hammburger{
            display:inline-block;


              }
              .nav-button{
                max-width: none;
                
                
                }
                .r1{
                display:none;
                text-align: center;
                }
                #imgref{
                    margin-left: 5%;

                }
                .blo{
                    display: block;
                }
                .copy{
                    padding-left: 20px;
                }
                .imgg{
                    width:95vw;
                }
                
            
            }







